body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .options-container {
    margin-bottom: 10px;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  .submit-container {
    clear: both;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }

  #contador {
    font-family: Arial, sans-serif;
    /*font-size: 36px;*/
    color: #00f;
  }