body {
  font-family: Arial, sans-serif;
/*  background-color: #f2f2f2;*/
  margin: 0;
  padding: 20px;
  text-align: center;
  position: relative; /* Agregado para posicionar los elementos */
  background-image: url("/images/background.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center 0px;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 10px;
}

button,
a.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover,
a.button:hover {
  background-color: #555;
}

p {
  margin-bottom: 20px;
}

/* Estilos para los botones de los temas */
ul.topics-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.topics-list li {
  margin: 5px;
}

.topic-button,
a.topic-button {
  display: inline-block;
  width: 80px;
  height: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.topic-button:hover,
a.topic-button:hover {
  background-color: #555;
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Estilos para el contenedor del nombre de usuario y puntos */
.user-info {
  color: #333;
  margin-bottom: 10px; /* Espacio entre user-info y user-actions */
  text-align: left; /* Alinea el texto en la izquierda horizontalmente */
}

.user-info span {
  display: block;
}

.user-actions {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: left; /* Alinea los elementos en la izquierda horizontalmente */
  text-align: left; /* Alinea el texto en la izquierda horizontalmente */
}

.ranking-container {
  max-width: 100%;
  margin-top: 20px;
}


.user-info span.username {
  font-weight: bold;
}

.user-info span.points {
  color: #555;
  margin-top: 5px; /* Ajusta el margen superior para separar el nombre de usuario de los puntos */
}

/* Estilo para mostrar los mensajes provenientes de flash (clase success y clase error) */

p.success {
  color: green;
}

p.error {
  color: red;
}

.topic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-level {
  margin-top: 5px;
}

.ranking-button {
  position: absolute;
  margin-top: -20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ranking-button:hover {
  background-color: #555;
}

.progress-bar {
  width: 100%;
  background-color: #aaa;
  margin-top: 10px;
  border-radius: 10px;
}

.progress {
  display: block;
  width: var(--percentage, 0%);
  height: 20px;
  background-color: #4CAF50; 
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.animate-progress {
  animation: fillProgress 2s ease-in-out;
}

@keyframes fillProgress {
  0% {
    width: 0;
  }
  100% {
    width: var(--percentage, 0%);
  }
}

/* Estilos para la imagen confetti */
.confetti {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; /* Ocupa el ancho completo de la ventana */
  height: 300%; /* Ocupa la altura completa de la ventana */
  z-index: -10; /* Asegura que esté atras de otros elementos */
}

