body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #555;
  }

/* Estilos para los enlaces de paginación */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    margin: 0 5px; /* Añadido margen horizontal entre los enlaces */
  }
  
  .pagination a:hover {
    background-color: #f2f2f2;
  }

  div.pagination .previous-link,
  div.pagination .next-link {
    text-decoration: underline;
  }