body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  form label {
    width: 120px;
    text-align: right;
    margin-right: 10px;
  }

  form input {
    width: 200px;
  }

  button[type="submit"] {
    margin-top: 10px;
  }

  button[type="submit"] {
    margin-top: 10px;
  }
  input[type="username"],
  input[type="password"] {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
  }
  .page-container {
    float: left;
  }
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #555;
  }