<!-- topic.erb -->

<h1><%= @topic.name %></h1>

<h2>Preguntas</h2>

<% current_level = nil %>

<% @topic.questions.order(level: :desc).each do |question| %>
  <% if current_level != question.level %>
    <% current_level = question.level %>
    <h2><%= question.level %></h2>
  <% end %>

  <p><%= question.content %></p>
<% end %>
