<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Topics</title>
  </head>
  <body>
    <h1>Topics</h1>
    <ul>
      <% @topics.each do |topic| %>
        <li><a href="/topics/<%= topic.id %>"><%= topic.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>