<% @topics.each do |topic| %>
  <h2><%= topic.name %></h2>
  <% current_level = nil %>
  <% topic.questions.order(level: :desc).each do |question| %>
    <% if current_level != question.level %>
      <% current_level = question.level %>
      <% if current_level && current_level != question.level %>
        </ul> 
      <% end %>
      <h3><%= question.level %></h3>
      <ul>
    <% end %>
    <li>
      <a href="/questions/<%= question.id %>/answer"> 
        <%= question.content %>
      </a>
    </li>
    <% if topic.questions.last == question %>
      <% if current_level != nil %>
        </ul>
      <% end %>
    <% elsif topic.questions[topic.questions.index(question) + 1].level != current_level %>
      </ul>
    <% end %>
  <% end %>
<% end %>