<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Prelud-Code</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
  <body>
    <h1>Bienvenido, <%= @user.username %>!</h1>
    <form action="/logout" method="post">
      <button type="submit">Cerrar sesión</button>
    </form>
    <p>Este es tu dashboard.</p>
    <!-- Agregar contenido del dashboard aquí -->
  </body>
</html>
