<!-- index.erb -->
<body>
  <h1>Bienvenido a Prelud-Code!</h1>
  
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Correo electr칩nico" required/>
    <input type="password" name="password" placeholder="Contrase침a" required/>
    <button>Iniciar sesi칩n</button>
  </form>

  <a href="/register">Registrarse</a>
  <form action="/guest" method="POST">
    <button>Iniciar sesi칩n como invitado</button>
  </form>
</body>