<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Prelude-Code</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="page-container">
      <h1>Bienvenido a Prelud-Code!</h1>

      <% if @error %>
        <p id="error-message" class="error"><%= @error %></p>
      <% end %>
      <div class="form-container">
        <form action="/login" method="POST">
          <input type="username" name="username" placeholder="Nombre de usuario" required/>
          <input type="password" name="password" placeholder="Contraseña" required/>
          <button>Iniciar sesión</button>
        </form>

        <form action="/register" method="GET">
          <button type="submit">Registrarse</button>
        </form>
      </div>
        <% if flash.has?(:success) %>
        <span class="flash-container">
          <p class="success"><%= flash[:success] %></p>
        </span>
      <% end %>
    </div>
  </body>
</html>