<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Prelud-Code</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
      <div class="page-container">
        <h1>Login</h1>
        <% if @error %>
          <p class="error"><%= @error %></p>
        <% end %>

        <form action="/login" method="POST">
          <input type="username" name="username" placeholder="Nombre de usuario" required/>
          <input type="password" name="password" placeholder="Contraseña" required/>
        <button>Iniciar sesión</button>
        </form>

        <form action="/register" method="GET">
          <button type="submit">Registrarse</button>
        </form>
        <form action="/guest" method="POST">
          <button>Iniciar sesión como invitado</button>
        </form>
      <div class="page-container">
  </body>
</html>