<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Prelud-Code</title>
    <link rel="stylesheet" href="/css/register.css">
  </head>
<body>
    <h1>Registrarse</h1>
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <form action="/register" method="post">
      <div>
        <label>Username:</label>
        <input type="username" name="username" />
      </div>
      <div>
        <label>Contraseña:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <label>Confirmar contraseña:</label>
        <input type="password" name="confirm_password" />
      </div>
      <button type="submit">Confirmar</button>
    </form>
  </body>
</html>